<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <%= render 'shared/errors', obj: @chef %>
    <%= render 'shared/page_title', title: "Edit profile" %>
    <%= render 'form' %>
  </body>
</html>