<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    <%= render 'shared/page_title', title: "create a new recipe" %>
    <%= render 'form', title: "create a new recipe" %>
  </body>
</html>