$navbar-default-bg: #073B15;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
	text-align: center;
}

.jumbotron {
	background-image: asset-url('JJJ.jpeg');
	background-size: cover;
	height: 300px;
}

#logo {
	float: left;
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold;
}

#logo:hover {
	color: #fff;
	text-decoration: none;
}
.jumbotron h1, h2 {
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.btn-xlarge {
	background-color: #073B15;
}

.btn-larger:hover {
	color: #fff;
	text-decoration: none;
}


/*FOOTER CSS */


#myFooter {
    background-color: #073B15;
    color: white;
    padding-top: 30px;
}


#myFooter .row {
    margin-bottom: 60px;
}

#myFooter .navbar-brand {
    margin-top: 45px;
    height: 65px;
}

#myFooter ul {
    list-style-type: none;
    padding-left: 0;
    line-height: 1.7;
}

#myFooter h5 {
    font-size: 18px;
    color: white;
    font-weight: bold;
    margin-top: 30px;
}

#myFooter h2 a{
    font-size: 50px;
    text-align: center;
    color: #fff;
}

#myFooter a {
    color: #d2d1d1;
    text-decoration: none;
}

#myFooter a:hover,
#myFooter a:focus {
    text-decoration: none;
    color: white;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 16px;
}

#myFooter .social-networks a {
    font-size: 32px;
    color: #f9f9f9;
    padding: 10px;
    transition: 0.2s;
}

#myFooter .social-networks a:hover {
    text-decoration: none;
}

#myFooter .facebook:hover {
    color: #0077e2;
}

#myFooter .google:hover {
    color: #ef1a1a;
}

#myFooter .twitter:hover {
    color: #00aced;
}

#myFooter .btn {
    color: white;
    background-color: #d84b6b;
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    line-height: 25px;
}

#myFooter .footer-reference {
    border-radius: 20px;
    border: none;
    width: 150px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 767px) {
    #myFooter {
        text-align: center;
    }
}


/* CSS used for positioning the footers at the bottom of the page. */
/* You can remove this. */

html{
    height: 100%;
}

body{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
}

.content{
   flex: 1 0 auto;
   -webkit-flex: 1 0 auto;
   min-height: 200px;
}

#myFooter{
   flex: 0 0 auto;
   -webkit-flex: 0 0 auto;
}

.description {
    margin-top: 0;
}

.well a {
    color: #073B15;
}

.chef_info {
    margin-top: 10px;
}

.colormatch a {
    color: #073B15;
}

.recipe-actions {
    padding-top: 5px;
    a {
        color: #fff;
    }
}

.listing {
    list-style: none;
    padding-left: 0;
}

.chef-title {
    color: #073B15;
    font-weight: bold;
    font-size: 1.25em;
}

.input_checkbox input {
    width: auto !important;
}

.center-block {
    float: none;
}

.chat-container {
    bottom: 0;
    left: 0;
    right: 0;
    top: 150px;
    width: 80;
}

.message-container {
    .form-control {
        float: left;
        width: 80%;
    }
    .btn {
        float: right;
        position: relative;
        height: 54px !important;
        width: 18%;
    }
}

.message {
    padding-left: 5px;
    padding-top: 10px;
}

.messages {
    border: 1px solid #eaeaea;
    height: 30em;
    position: relative;
    overflow: auto;
}


.liking {
  padding-right: 10px;
}















